---
layout: base
title: Events
description: Intro workshops and side events at Phase
---
<div class="row">
	
	<div class="col s12 m12">
		<p>Check out the <a href="../schedule/">schedule</a> to know when all these workshops and more are happening.
		<h4 id="workshops">Workshops</h4>
	</div>
	<div class="col s12 m12">
		<ul class="collection">
		{% for card in site.data.workshops %}
			<li class="collection-item">
				<h5 class="title">{{card.title}}</h5>
				{% if card.author %}<small>by {{card.author}}</small>{%endif%}
				<p>{{card.description}}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
	<hr>
	<div class="col s12 m12">
		<h4 id="side-events">Side events</h4>
	</div>
	<div class="col s12 m12">
		<ul class="collection">
		{% for card in site.data.side_events %}
			<li class="collection-item">
				<h5 class="title">{{card.title}}</h5>
				<p>{{card.description}}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
