---
layout: base
title: Hardware
description: Live webpage for Phase
---
<div class="row">
    <div class="col s12 m12">
        <p class="text-flow">You can find Hardware Lab next to the Check in table. Head to <a target="_blank" href="https://my.hackcu.org/hardware/">Hardware Lab</a> website to request hardware to borrow before you arrive at the desk. We will have available:</p>
        <ul>
            <li>LEGO pieces</li>
            <li>Male to Male/Male to Female/Female to Female Breadboard Jumper Wires</li>
            <li>Googly eyes</li>
        </ul>
    </div>
    <p class="text-flow">Requestable items:</p>
    {%raw%}
    <div class="col s12 m12" id="app">
        <ul class="collection">
        
            <li class="collection-item" v-for="item in items">
                <h5 class="title">{{item.name}}</h5>
                <small><b>{{item.available}}</b> available out of {{item.total}}</small>
                <p>{{item.description}}</p>
                <a v-if="item.url" target="_blank" v-bind:href="item.url"><i aria-hidden="true" class="fa fa-plus"></i> More info</a>
            </li>
        </ul>   
    </div>
    {%endraw%}
</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    items: [{"available": 19, "name": "Photon boards", "description": "A tiny, reprogrammable Wi-Fi development kit for prototyping and scaling your Internet of Things product.", "total": 19},]
  },
})

function refresh() {
    $.get('https://my.hackcu.org/hardware/api/').success(function(data){
        app.items = data.items.sort(function(a,b) {
            var aName = a.name.toUpperCase()
            var bName = b.name.toUpperCase()
            if (aName < bName) {
                return -1;
            }
            if (aName > bName) {
                return 1;
            }
            return 0;

        })
    });
}
refresh();
setInterval(refresh, 60000);

</script>