---
layout: base
title: Prizes
description: Prizes at HackCU V
---
<div class="row">
	<div class="col s12 m12">
		<p class="text-flow">Check out the <a target="_blank" href="{{site.devpost}}">MLH Devpost</a> for the most up to date prizes.</p>
	</div>
	<div class="col s12 m12">
		<h4>Prizes</h4>
		{% assign prizes = site.data.prizes | where: "type", "hackathon" %}
		<ul class="collection">
			{% for prize in prizes %}
				{% include prize.html %}
			{% endfor %}
		</ul>
		<h4>Sponsored prizes</h4>
		{% assign sponsored = site.data.prizes | where: "type", "sponsor" %}
		<ul class="collection">
			{% for prize in sponsored %}
				{% include prize.html %}
			{% endfor %}
		</ul>
	</div>
</div>
