---
layout: base
title: Schedule
description: Schedule
---
{%raw %}
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>

			<li class="times sat"><span>08:00AM</span></li>
			<li class="times sat"><span>08:30AM</span></li>
			<li class="times sat"><span>09:00AM</span></li>
			<li class="times sat"><span>09:30AM</span></li>
			<li class="times sat"><span>10:00AM</span></li>
			<li class="times sat"><span>10:30AM</span></li>
			<li class="times sat"><span>11:00AM</span></li>
			<li class="times sat"><span>11:30AM</span></li>
			<li class="times sat"><span>12:00PM</span></li>
			<li class="times sat"><span>12:30PM</span></li>
			<li class="times sat"><span>01:00PM</span></li>
			<li class="times sat"><span>01:30PM</span></li>
			<li class="times sat"><span>02:00PM</span></li>
			<li class="times sat"><span>02:30PM</span></li>
			<li class="times sat"><span>03:00PM</span></li>
			<li class="times sat"><span>03:30PM</span></li>
			<li class="times sat"><span>04:00PM</span></li>
			<li class="times sat"><span>04:30PM</span></li>
			<li class="times sat"><span>05:00PM</span></li>
			<li class="times sat"><span>05:30PM</span></li>
			<li class="times sat"><span>06:00PM</span></li>
			<li class="times sat"><span>06:30PM</span></li>
			<li class="times sat"><span>07:00PM</span></li>
			<li class="times sat"><span>07:30PM</span></li>
			<li class="times sat"><span>08:00PM</span></li>
			<li class="times sat"><span>08:30PM</span></li>
			<li class="times sat"><span>09:00PM</span></li>
			<li class="times sat"><span>09:30PM</span></li>
			<li class="times sat"><span>10:00PM</span></li>

		</ul>
	</div> <!-- .timeline -->

	<div class="events" id="app">
		<ul class="ul_events">

			<li class="events-group">
				<div class="top-info"><span>Idea Forge</span></div>

				<ul>
						<div v-for="event in idea_forge">
								<li class="single-event" v-bind:data-start="event.Start" v-bind:data-end="event.End" data-event="event-1" v-bind:data-date="event.Date">
											<a href="#0" v-on:click="changeModalInfo(event.Description, event.Location)"> 
											<em class="event-name">{{event.Name}}</em>
											</a>		
									</li>
								</div>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Workshop Space</span></div>
				<ul>
						<div v-for="event in workshop_space">
								<li class="single-event" v-bind:data-start="event.Start" v-bind:data-end="event.End" data-event="event-2" v-bind:data-date="event.Date">
										<a href="#0" v-on:click="changeModalInfo(event.Description, event.Location)"> 
											<em class="event-name">{{event.Name}}</em>
										</a>
									</li>
								</div>
				</ul>
			</li>

		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">

				<h3 class="event-name"></h3>
				<span class="event-date"></span>
			</div>

			<div class="header-bg"></div>
		</header>

		
		<div class="body">
			<div class="event-info">
				<div class="event-text">
					<p id="desc" class="bold-p">Description:</p>
					<br>
					<p id="loc" class="bold-p">Location:</p>
				</div>
				<br>					
			</div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->

<!--
<div class="row center" id="app">
	<div class="card accent-color white-text">
		<div class="card-content">
			<span class="card-title center">
				Saturday Feb 23
			</span>
			<table class="highlight responsive-table">
				<thead>
					<tr>	
						<td>Start</td>
						<td>End</td>
						<td>Description</td>
						<td>Location</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="event in day1">
						<td>{{event.Start}}</td>
						<td>{{event.End}}</td>
						<td>{{event.Description}}</td>
						<td>{{event.Location}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card accent-color white-text">
		<div class="card-content">
			<span class="card-title center">
				Sunday Feb 24
			</span>
			<table class="highlight responsive-table">
				<thead>
					<tr>
						<td>Start</td>
						<td>End</td>
						<td>Description</td>
						<td>Location</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="event in day2">
						<td>{{event.Start}}</td>
						<td>{{event.End}}</td>
						<td>{{event.Description}}</td>
						<td>{{event.Location}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	 <h5>Due to the amount of traffic to this page, we're experiencing occasional outages.</h5>
	<h5>If the schedule is not loading, you can also find it <a target="blank" href="https://bit.ly/hackcu-schedule">here.</a></h5> 
</div>
-->
{%endraw %}
<script>
// a little modified code to focus on the location
var schedule = new Vue({
  el: '#app',
  data: {
		// need: start time, end time, date, event name on the sheets
    	//day1: [{"Location":"","End":"12:30 AM","EventName":"Closing ceremony","Start":"12:00 AM"},],
		//day2: [{"Location":"","End":"12:30 AM","EventName":"Closing ceremony","Start":"12:00 AM"},],

		idea_forge: [{"Location":"Idea Forge","End":"09:00 AM","Name":"Loading..","Start":"08:00 AM", "Date":"sat", "Description":"free"}],
		workshop_space: [{"Location":"Workshop Space","End":"09:00 AM","Name":"Loading..","Start":"08:00 AM", "Date":"sat", "Description":"family"}],
		// cafe_area: [{"Location":"Cafe Area","End":"09:00 AM","Name":"Loading..","Start":"08:00 AM", "Date":"sat", "Description":"fan"}],
		// main_auditorium: [{"Location":"Main Auditorium","End":"09:00 AM","Name":"Loading..","Start":"08:00 AM", "Date":"sat", "Description":"focus"}],
		// miscellaneous: [{"Location":"Miscellaneous","End":"09:00 AM","Name":"Workshop #3","Start":"08:00 AM", "Date":"sat", "Description":"fun"}],

  },
})

function changeModalInfo(description, location) {
	// change event modal content based on event from api
	document.getElementById("desc").innerHTML = '<b>Description</b>: ' + description;
	document.getElementById("loc").innerHTML = '<b>Location</b>: ' + location;
}
function refresh() {

    $.get('https://api.hackcu.org/sheets/events.json').success(function(data){
				var item;
				// reset from the 'loading' widgets.
				schedule.idea_forge = [];
				schedule.workshop_space = []
				schedule.breck = [];
				schedule.keystone = [];
				schedule.cafe_area = [];
				schedule.main_auditorium = [];
				schedule.miscellaneous = [];
				for (item in data.day1){
					// need: start time, end time, date, event name on the sheets
					var start = item.Start;
					var end = item.End;
					if(item.Start[1] == ":"){
						start = "0" + start;

					}
					if(item.End.length>0){
						if(item.End[1] == ":"){
							end = "0" + end;

						}
					}
					var entry = {"Location":item.Location,"End":end,"EventName":item.Description,
						"Start":start, "Date":"sat"};
					if(item.Location == "Breck"){
						schedule.breck.push(entry);
					}
					else if(item.Location == "Keystone"){
						schedule.keystone.push(entry);
					}
					else if(item.Location == "Cafe Area"){
						schedule.cafe_area.push(entry);
					}
					else if(item.Location == "Main Auditorium"){
						schedule.main_auditorium.push(entry);
					}
					else{	
						schedule.miscellaneous.push(entry);
						// miscellaneous case, put it in the last row.
					}
				}
				for (item in data.day2){
					var entry = {"Location":item.Location,"End":item.End,"EventName":item.Description,
						"Start":item.Start, "Date":"sun"};
					if(item.Location == "Breck"){
						schedule.breck.push(entry);
					}
					else if(item.Location == "Keystone"){
						schedule.keystone.push(entry);
					}
					else if(item.Location == "Cafe Area"){
						schedule.cafe_area.push(entry);
					}
					else if(item.Location == "Main Auditorium"){
						schedule.main_auditorium.push(entry);
					}
					else{
						schedule.miscellaneous.push(entry);
						// miscellaneous case, put it in the last row.
					}

				}
        //schedule.day1 = data.day1;
        //schedule.day2 = data.day2;
    });
}

// refresh();
setInterval(refresh, 2*60000);



</script>
