---
layout: base
title: Home
description: Live webpage for HackCU IV
---
<div class="row center">
	<h1>HackCU IV Live webpage</h1>
</div>
<div class="row">
	{% for card in site.data.home_cards %}
	<div class="col s12 m6">
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					<i aria-hidden="true" class="fa fa-{{card.icon}}"></i>
					{{card.title}}
				</span>
				<p>{{card.description}}</p>
			</div>
			{% if card.actions %}
			<div class="card-action">
				<dl>
				{% for action in card.actions %}
					<a target="_blank" href="{{action.url}}"><i aria-hidden="true" class="fa fa-{{action.icon}}"></i>{{action.name}}</a><br>
				{% endfor %}
				</dl>
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
