<div class="navbar-fixed">

<nav>
<div class="nav-wrapper">
  <div class="brand-logo center hide-on-med-and-down">
  	<h3 id="countdown-timer" >

	  	<span class="timer" id="hours"></span> :
	  	<span class="timer" id="minutes"></span> :
	  	<span class="timer" id="seconds"></span>
	</h3>
  </div>
  <ul id="nav-mobile" class="center hide-on-med-and-down">
  	<li><a href="/">Home</a></li>

  	{% for item in site.sections %}
		<li {%if item.url==page.url %}class="active"{%endif%}><a href="{{ item.url }}">{{ item.title }}</a></li>
	{% endfor %}
  </ul>
  
<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars fa-lg"></i></a>

</div>
</nav>
</div>
<ul id="slide-out" class="side-nav">
  	<li>
  		<div class="user-view accent-color white-text">
	      
	      <h2>
	      	<div id="countdown-timer-mobile">
			  <span class="timer" id="hours"></span> :
			  <span class="timer" id="minutes"></span> :
			  <span class="timer" id="seconds"></span>
			</div>
	      </h2>
	    </div>
	</li>
  	<li><a href="/">Home</a></li>
  	{% for item in site.sections %}
		<li><a href="{{ item.url }}">{{ item.title }}</a></li>
	{% endfor %}
</ul>
