<nav>
<div class="nav-wrapper">
  <div class="brand-logo center">
  	<p id="countdown-timer">

	  	<span class="timer" id="hours"></span> :
	  	<span class="timer" id="minutes"></span> :
	  	<span class="timer" id="seconds"></span>
	</p>
  </div>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
  	<li><a href="/">Home</a></li>

  	{% for item in site.sections %}
		<li><a href="{{ item.url }}">{{ item.title }}</a></li>
	{% endfor %}
  </ul>
  <ul id="slide-out" class="side-nav">
  	<li>
  		<div class="user-view">
	      <div class="background">
	        <img src="assets/img/flatirons.jpg">
	      </div>
	      <span class="white-text name">
	      	<div id="countdown-timer-mobile">
			  <span class="timer" id="hours"></span> :
			  <span class="timer" id="minutes"></span> :
			  <span class="timer" id="seconds"></span>
			</div>
	      </span>
	    </div>
	</li>
  	<li><a href="/">Home</a></li>
  	{% for item in site.sections %}
		<li><a href="{{ item.url }}">{{ item.title }}</a></li>
	{% endfor %}
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

</div>
</nav>

