<div class="countdown">
<div class="navbar-fixed ">

<nav>
<div class="nav-wrapper ">
  {% if site.timer_enable %}
  <div class="brand-logo center hide-on-med-and-down">
		{%raw%}
  	<h3>
			{{hours|twodigits}} : {{minutes|twodigits}} : {{seconds|twodigits}}
		</h3>
		{%endraw%}
  </div>
  {% endif %}
  <ul id="nav-mobile" class="center hide-on-med-and-down">
  	<li><a href="/">Home</a></li>

  	{% for item in site.sections %}
		<li {%if item.url==page.url %}class="active"{%endif%}><a href="{{ item.url }}">{{ item.title }}</a></li>
	{% endfor %}
  </ul>
  
<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars fa-lg"></i></a>

</div>
</nav>
</div>
<ul id="slide-out" class="side-nav">
  	<li>
  		<div class="user-view accent-color white-text">
	      {%raw%}
	      <h2>
	      	{{hours | twodigits}} : {{minutes| twodigits}} : {{seconds| twodigits}}
				</h2>
				{%endraw%}
	    </div>
	</li>
  	<li><a href="/">Home</a></li>
  	{% for item in site.sections %}
		<li><a href="{{ item.url }}">{{ item.title }}</a></li>
	{% endfor %}
</ul>
</div>