---
---

@charset "utf-8";
@import "../_sass/mixins";

$main-color: #fff;
$footer-text: #fff;
$accent-color: {{site.color}};
$secondary-color: {{site.secondary_color}};


@font-face {
  font-family: Biko;
  src: url('../fonts/Biko_Regular.otf');
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: Biko, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  
}



body {
  height: 100%;
  width: 100%;

  background-color: $main-color;
  font-family: Roboto, sans-serif;



  

  .wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -170px;
  }

  .content {
    font-size: 17.5px;
    padding-bottom: 40px;
  }

 

  p {
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 20px;
  }

  nav {
    background-color: $accent-color;
    p {
      font-weight: 300;
      line-height: 1em;
      margin-bottom: 0px;
    }
    .brand-logo {
      background: $secondary-color;
      padding-left: 40px !important;
      padding-right: 40px !important;
      padding-bottom: 10px !important;
      @include box-shadow( 0px 0px 4px 4px rgba(0, 0, 0, 0.2));

    }

  }
}

.card {
  .card-action a{
    color: $secondary-color !important;
    &:hover {
      color: lighten($secondary-color,20%) !important;
    }
    i {
      width: 30px;
    }
  }
}

footer,
.push {
  height: 170px;
}

footer {
  padding-top: 2em;
  width: 100%;
  background-color: $accent-color;
  @include box-shadow( 0px 0px 2px 2px rgba(0, 0, 0, 0.2));

  p {
    color: $footer-text;
    opacity: 0.5;
    font-size: 100%;

  }

  .red {
    color: red;
  }

  .row {
    margin-bottom: 10px;
  }

  a {
    opacity: 0.5;
    color: $footer-text;
    @include transition(0.5s ease);
    font-size: 70%;

    &:hover {
      opacity: 0.9;
      color: $footer-text;
    }

    &:active, &:focus {
      color: $footer-text;
      opacity: 0.5;
    }

  }

  .text-imp {
    color: lighten($footer-text, 100%);
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.9;
    font-size: 100%;
    &:active, &:focus {
      color: lighten($footer-text, 100%);
      opacity: 0.9;
    }

  }
  .social-icons {
    a {
      text-decoration: none;
      padding: 10px;
      font-size: 100%;
    }

  }

}

@media (max-width: 768px) {
  footer,.push {
    height: 200px;
  }

  .wrapper {
    margin-bottom: -200px;
  }

  .text-center-xs {
    text-align: center;
  }

}
