---
---

@charset "utf-8";
@import "../_sass/mixins";

$main-color: #fff;
$footer-text: #fff;
$accent-color: {{site.color}};
$secondary-color: {{site.secondary_color}};


@font-face {
  font-family: Biko;
  src: url('../fonts/Biko_Regular.otf');
}

html {
  width: 100%;
  height: 100%;
}

.accent-color  {
  background-color: $accent-color !important;
}

h1, h2, h3, h4, h5 {
  font-family: Biko, sans-serif;
  font-weight: 900;
}

table.highlight>tbody>tr:hover {
    background-color: rgba(white,0.1) !important;
}


body {
  height: 100%;
  width: 100%;

  background-color: $main-color;
  font-family: Roboto, sans-serif;



  
  .content {
    font-size: 17.5px;
    margin-top: 50px;
    padding-bottom: 40px;
    li {
      list-style-type: square !important;
      margin-left: 1em;
      font-weight: 300;
      line-height: 2em;
    }

    a {
      color: $secondary-color;
       @include transition(0.5s ease);

      &:hover, &:active, &:focus {
        color: lighten($secondary-color,30%);
      }
    }

  }

 

  p {
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 20px;
  }

  

  

  nav {
    background-color: $accent-color;
    p {
      font-weight: 300;
      line-height: 1em;
      margin-bottom: 0px;
    }
    .brand-logo {
      background: $secondary-color;
      padding-left: 40px !important;
      padding-right: 40px !important;
      padding-bottom: 10px !important;
      min-width: 305px;
      @include box-shadow( 0px 0px 4px 4px rgba(0, 0, 0, 0.2));
      h3 {
        text-align: left;
      }
    }
  }
}

.card {
  .card-action a{
    color: $secondary-color !important;
    &:hover {
      color: lighten($secondary-color,20%) !important;
    }
    i {
      width: 30px;
    }
  }
}



@media (max-width: 768px) {
  footer,.push {
    height: 200px;
  }

  .wrapper {
    margin-bottom: -200px;
  }

  .text-center-xs {
    text-align: center;
  }

}
