---
---
@charset "utf-8";
@import "../_sass/mixins";

$main-color: #fff;
$footer-text: #fff;
$accent-color: {{site.color}};
$secondary-color: {{site.secondary_color}};
  
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    /* The actual timeline (the vertical ruler) */
    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: $accent-color;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
        @include box-shadow(inset 0px 11px 8px -5px #fff, inset 0px -11px 8px -5px #fff); 
    }
}

/* Container around content */
.item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-bottom: -50px;

    /* The circles on the timeline */
    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 29px;
    //     height: 29px;
    //     right: -14px;
    //     background-color: $accent-color;
    //     top: 15px;
    //     border-radius: 50%;
    //     z-index: 1;
    // }

    &:nth-child(even) {
        left: 0;

        /* Add arrows to the left item (pointing right) */
        &::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid $accent-color;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent $accent-color;
        }
    }

    &:nth-child(odd) {
        left: 50%;

        /* Add arrows to the right item (pointing left) */
        &::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid $accent-color;
            border-width: 10px 10px 10px 0;
            border-color: transparent $accent-color transparent transparent;
        }

        /* Fix the circle for items on the right side */
        &::after {
            left: -14px;
        }
    }
}

/* The actual content */
.inner-item {
    padding: 10px 20px;
    position: relative;
    border:  medium solid $accent-color;
    @include box-shadow(10px 10px 18px -12px rgba(0,0,0,0.75)); 
    display: flex;

    .hours {
        display: flex;
        flex-direction: column;
    }
    p, h5 {
        margin:0;
        line-height: 1em;
        padding-right: 20px;
    }

    p {
        white-space: nowrap;
        text-align: right;
    }
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    .inner-item {
        flex-direction: column;

        .hours {
            flex-direction: row;
            padding-bottom: 10px;
        }

        p {
            text-align: left;
        }
    }

/* Full-width items */
    .item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        margin-bottom: 0;

        /* Make sure that all arrows are pointing leftwards */
        &::before, &:nth-child(even)::before, &:nth-child(odd)::before {
            left: 60px;
            border: medium solid $accent-color;
            border-width: 10px 10px 10px 0;
            border-color: transparent $accent-color transparent transparent;
        }
            
        /* Make sure all circles are at the same spot */
        &:nth-child(even)::after, &:nth-child(odd)::after {
            left: 15px;
        }

        /* Make all right items behave like the left ones */
        &:nth-child(odd) {
            left: 0%;
        }
    }    
}