---
---
@charset "utf-8";
@import "../_sass/mixins";

$main-color: #fff;
$footer-text: #fff;
$accent-color: {{site.color}};
$secondary-color: {{site.secondary_color}};

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    /* The actual timeline (the vertical ruler) */
    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: $accent-color;
        top: 0;
        bottom: 0;
        left: 0%;
        margin-left: -3px;
        @include box-shadow(inset 0px 11px 8px -5px #fff, inset 0px -11px 8px -5px #fff); 
    }
}

/* Container around content */
.item {
    padding: 10px 30px;
    position: relative;
    background-color: inherit;
    /* Add arrows pointing left */
    &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 20px;
        border: medium solid $accent-color;
        border-width: 10px 10px 10px 0;
        border-color: transparent $accent-color transparent transparent;
    }
}

/* The actual content */
.inner-item {
    padding: 10px 20px;
    position: relative;
    border:  medium solid $accent-color;
    @include box-shadow(10px 10px 18px -12px rgba(0,0,0,0.75)); 
    display: flex;
    align-items: center;

    .hours {
        display: flex;
        flex-direction: column;
        min-width: 120px;
    }
    
    .start {
        color: $secondary-color;
        padding-top:5px;
    }

    .end {
    }
}

.bigcard {
    h4, h3 {
        margin:0;
        line-height: 1em;
        white-space: pre-line;
        padding-right:20px;
    }

    h4 {
        white-space: nowrap;
        text-align: right;
    }
    
    h3 {
        padding-top: 20px;
    }
}

.smallcard{
    width: 80%;

    h5, h4 {
        margin:0;
        line-height: 1em;
        white-space: pre-line;
        padding-right:20px;
    }

    h5 {
        white-space: nowrap;
        text-align: right;
    }
    
    h4 {
        padding-top: 12px;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
    .timeline::after {
        left: 0px;
    }

    .inner-item {
        flex-direction: column;

        .hours {
            flex-direction: row;
            padding-bottom: 10px;
        }

        p {
            text-align: left;
        }
    }
} 
