---
---
@charset "utf-8";
@import "../_sass/mixins";

$main-color: #fff;
$footer-text: #fff;
$accent-color: {{site.color}};
$secondary-color: {{site.secondary_color}};

body {
    background-color: $accent-color;
    color: $main-color;
    .content {
        margin-top: 200px;
    }
}

.countdown{
   
    padding: 5px;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    background-color: $accent-color;
    @include box-shadow(  0px 20px 40px 0px rgba($accent-color, 1.0));
    top:0px;
    z-index: 1000;
    
    min-width: 305px;
    
    h1 {
        img {
            vertical-align:middle;
            height: 1.5em;
            margin-right:30px;
        }
        .margin-needed {
            margin-left: 30px;
        }
    } 
    
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    /* The actual timeline (the vertical ruler) */
    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: $secondary-color;
        top: 0;
        bottom: 0;
        left: 0%;
        margin-left: -3px;
        @include box-shadow(inset 0px 11px 8px -5px $accent-color, inset 0px -11px 8px -5px $accent-color); 
    }
}

/* Container around content */
.item {
    padding: 10px 30px;
    position: relative;
    background-color: inherit;
    /* Add arrows pointing left */
    &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 20px;
        
    }
}

/* The actual content */
.inner-item {
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;

    .hours {
        display: flex;
        flex-direction: column;
        min-width: 120px;
    }
    
    .start {
        color: $secondary-color;
        padding-top:5px;
    }

}

.bigcard {
    .hours {
        padding-right: 40px;
        min-width: 166px;
    }

    h4, h3 {
        margin:0;
        line-height: 1em;
        white-space: pre-line;
    }

    h4 {
        white-space: nowrap;
        text-align: right;
    }
    
    h3 {
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

.smallcard{
    width: 80%;

    .hours {
        padding-right: 30px;
        min-width: 130px;
    }

    h5, h4 {
        margin:0;
        line-height: 1em;
        white-space: pre-line;
    }

    h5 {
        white-space: nowrap;
        text-align: right;
    }
    
    h4 {
        padding-top: 12px;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
    .timeline::after {
        left: 0px;
    }

    .inner-item {
        flex-direction: column;
        align-items: flex-start;

        .hours {
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 0px;
        }

        .end {
            .sub {
                vertical-align: sub;
            }
        }

        .start {
            padding-right: 4px;
            vertical-align: text-bottom;
        }
    }

    .bigcard {
        .start {
            margin-top: 2px;
            padding-right: 5px;
        }
        h3 {
            padding-top: 12px;
        }
    }
} 
